<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Search</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="welcome">
    <h1>Search for an Item</h1>
    <form action="/checkout" method="post">
        <label for="itemName">Item Name:</label>
        <input type="text" id="userName" name="userName" required>
        <button type="submit">Search</button>
    </form>
</div>
</body>
</html>

