<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title> delete</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="welcome">
	<h1>DELETE SUCCESSFUL</h1>
	  	<form action="/login" method="get">
	      		<button type="submit">back to home</button>
	  	</form>


</div>
</body>
</html>
