<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title> delete</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="welcome">
	<h1>delete an item</h1>
	<form action="/delete" method="post">         
	<label for="itemName">Item Name:</label>         
	<input type="text" id="itemName" name="itemName" required>         
	<button type="submit">Search</button>     </form>
</div>
</body>
</html>