<!DOCTYPE html>
<html lang="en">
<head>
    <title>Magician's Code - Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
	<div class="input">
    <div>
        <h2>Magician's Code - Login Page</h2>
    </div>
    <form action="/login" method="post">
        <label for='username'><b>Username:</b></label><br>
        <input type="text" id="username" name="username" placeholder=""><br><br>
        <label for='password'><b>Password:</b></label><br>
        <input type="password" id="password" name="password" placeholder=""><br><br>
    	<button type="submit">Login</button>
    </form>
</div>
</body>
</html>
